
<div class="row mt-4">
  <div class="col-3">
    <!-- Sidebar -->
    <shared-sidebar></shared-sidebar>

  </div>

  <ng-container>
    <div class="input-container">
      <label for="input-field">
        <i class="material-icons">search</i>
      </label>
      <input type="text" id="input-field" placeholder="Buscar...">
    </div>
  </ng-container>


  <div class="col">

    <!-- Our pages -->
    <router-outlet />
    <!-- <shared-home-page></shared-home-page> -->
     <!-- <shared-about-page></shared-about-page> -->
  </div>
</div>


